.square-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
}

.empty-image {
  align-items: center;
  background: linear-gradient(rgb(218, 218, 218), rgb(75, 75, 75));
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 2rem;
  justify-content: center;
}
