.player-list {
  flex: 1;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0 0 2rem 0;

  .player-row {
    border-bottom: 0.1rem solid rgb(180, 180, 180);

    &:last-child {
      border-bottom: 0;
    }
  }
}

.player-list__header {
  background-color: rgb(180, 180, 180);
  font-size: 1.3rem;
  padding: 1rem;
}

.player-list__column {
  display: inline-block;
}

.player-list__column--player {
  width: 20rem;
}

.player-list__column--winnings {
  text-align: right;
  width: 10rem;
}

.player-list__column--country {
  text-align: center;
  width: 10rem;
}
