.player-rank {
  font-size: 1.3rem;
  padding-right: 0.5rem;
  width: 3rem;
}

.player-name {
  color: rgb(161, 40, 76);
  flex: 1;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.country-initials {
  margin: 0 1rem;
}

.person-column,
.country-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
