body {
  font-family: sans-serif;
}

@top-color: rgb(255, 255, 255);

.app {
  align-items: center;
  background: linear-gradient(@top-color, @top-color, @top-color, @top-color, rgb(128, 128, 128));
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  min-height: 3rem;
  padding-top: 1rem;
}
