//- Lots of potential XSS issues and more, but it's only a demo
html
  head
    link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css')
    title= 'Poker Rankings'
  body
    div(id='root')
  script(src='./bundle.js')
